# Pandasの基本コマンド
- df.groupby(by=None, axis=0, level=None, sort=True, dropna=True)

In [1]:
import pandas as pd
import os

In [12]:
# pathの確認
path = '../src/titanic/train.csv'
os.path.exists(path)

True

### read_csv()

In [13]:
df = pd.read_csv(path)
len(df)

891

In [14]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# groupごとに集計する

In [21]:
# 文脈としては、Pclassベースで、Survivedがそれぞれどれくらいの割合で存在しているか
df[["Pclass", "Survived"]].groupby(["Pclass"]).describe()

       Survived
          count      mean       std  min  25%  50%  75%  max
Pclass
1         216.0  0.629630  0.484026  0.0  0.0  1.0  1.0  1.0
2         184.0  0.472826  0.500623  0.0  0.0  0.0  1.0  1.0
3         491.0  0.242363  0.428949  0.0  0.0  0.0  0.0  1.0

# uniqueを頻出順に並べる

In [21]:
df["Sex"].nunique()

2

In [15]:
df["Age"].nunique()

79